.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 15px grey
}
.nav-items {
  list-style: none;
  display: flex;
}

.nav-items > li {
  padding: 10px;
}

.img {
  width: 60px;
}

body {
  padding: 0;
  margin: 0;
}

.content {
  font-family: 'Anton', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(101, 101, 101);
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
}
